@page
@model UnicabAdminCore.Pages.DriverMgmt.IndexModel
@{
    ViewData["Title"] = "Manage Drivers";
}

@section Stylesheets {
    <!-- iCheck -->
    <link href="~/lib/gentelella/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/lib/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><b>MANAGE DRIVERS</b></h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>New Driver Registration</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="mydatatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Email Address</th>
                                    <th>Matrics No.</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Car Plate No.</th>
                                    <th>Road Tax Due Date</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <td>Razali Ismail</td>
                                    <td>PKE 2790</td>
                                    <td>Proton / Saga</td>
                                    <td>Sedan</td>
                                    <td>razaliismail@student.usm.my</td>
                                    <td>23</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Blacklisted Drivers</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>List of Approved Drivers</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Vehicle Plate No.</th>
                                    <th>Vehicle Make / Model</th>
                                    <th>Vehicle Type</th>
                                    <th>E-mail</th>
                                    <th>Age (years old)</th>
                                    <th>Date registered</th>
                                    <th>Revenue (RM)</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Razali Ismail</td>
                                    <td>PKE 2790</td>
                                    <td>Proton / Saga</td>
                                    <td>Sedan</td>
                                    <td>razaliismail@student.usm.my</td>
                                    <td>23</td>
                                    <td>21/12/2017</td>
                                    <td>560</td>
                                </tr>
                                <tr>
                                    <td>Kamelia Adam</td>
                                    <td>PDC 4578</td>
                                    <td>Perodua / MyVi</td>
                                    <td>Compact</td>
                                    <td>adamkamelia@student.usm.my</td>
                                    <td>24</td>
                                    <td>4/6/2018</td>
                                    <td>400</td>
                                </tr>
                                <tr>
                                    <td>Loh Wai Yeng</td>
                                    <td>KGT 1120</td>
                                    <td>Nissan / Almera</td>
                                    <td>Sedan</td>
                                    <td>wyloh@student.usm.my</td>
                                    <td>24</td>
                                    <td>5/8/2018</td>
                                    <td>590</td>
                                </tr>
                                <tr>
                                    <td>Jeremy Tan Kok Wai</td>
                                    <td>BDY 2121</td>
                                    <td>Toyota / Vios</td>
                                    <td>Sedan</td>
                                    <td>jeremykokwai@student.usm.my</td>
                                    <td>22</td>
                                    <td>12/10/2018</td>
                                    <td>550</td>
                                </tr>
                                <tr>
                                    <td>Sathiaseelan a/l Gunaseelan</td>
                                    <td>JBG 7890</td>
                                    <td>Perodua / Alza</td>
                                    <td>MPV</td>
                                    <td>gsathiaseelan@student.usm.my</td>
                                    <td>22</td>
                                    <td>24/9/2018</td>
                                    <td>640</td>
                                </tr>
                                <tr>
                                    <td>Lojing a/k Marudi</td>
                                    <td>PDW 9148</td>
                                    <td>Proton / Persona</td>
                                    <td>Sedan</td>
                                    <td>lojingmarudi@student.usm.my</td>
                                    <td>25</td>
                                    <td>12/11/2017</td>
                                    <td>390</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- iCheck -->
    <script src="~/lib/gentelella/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/lib/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/lib/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/lib/gentelella/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/lib/gentelella/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/lib/gentelella/vendors/pdfmake/build/vfs_fonts.js"></script>
    
    <script type="text/javascript">
        $("#mydatatable").DataTable();
    </script>
}

