@page
@model BlankModel
@{
    ViewData["Title"] = "Home";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><b>Insert page title here</b></h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        Insert page body here.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
